extends layout
block content
  .modal.fade
    .modal-dialog
      .modal-content
        .modal-body
          form.form-horizontal
            .form-group
              .col-sm-10
                input(type="name" class="form-control" id="name" placeholder="What's your name")
            
        .modal-footer
           button(type="submit" id="submit-name" class="btn btn-primary") OK
                          
  .wrap
    .container
      .row
        .header
          h2 Nasru's Chatroom

      br
      #messages

      .push
  .footer
    .container
      .row
        .col-sm-9
          input(type="text" id="message-box" class="form-control input-lg" placeholder="Write a message here..." rows="3")
        .col-sm-3
          button#send-message-btn.btn.btn-primary.btn-lg.btn-block Send Message