extends layout
block content
  .wrap
    .container
      h3 Nasru's Chatroom
      #messages

      .push
  .footer
    .container
      .row
        .col-sm-9
          input(type="text" id="message-box" class="form-control input-lg" placeholder="Write a message here..." rows="3")
        .col-xs-4
          button#send-message-btn.btn.btn-primary.btn-lg.btn-block Send Message