extends layout
block content
  .wrap
    .container
      .header
        h2 Nasru's Chatroom
      #messages

      .push
  .footer
    .container
      .row
        .col-sm-9
          input(type="text" id="message-box" class="form-control input-lg" placeholder="Write a message here..." rows="3")
        .col-sm-3
          button#send-message-btn.btn.btn-primary.btn-lg.btn-block Send Message